.search {
  background-image: url("https://media.placester.com/image/upload/c_scale,dpr_1.0,f_auto,fl_lossy,q_auto/c_scale,w_3320/v1/inception-app-prod/YTVmMGM3NDAtNmZjMy00ZGUxLWFhNTQtY2ZhNzM0MGFkMjY2/content/2020/10/shutterstock1585789627.jpg");
  padding: 2rem 1.25rem 2rem 1.25rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  position: relative;
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  transition: opacity 300ms ease 0ms;
  background-color: rgba(38, 38, 38, 0.3);
  opacity: 1;
}

.title {
  font-family: "Libre Baskerville";
  z-index: 2;
  margin-bottom: 1rem;
}

.subtitle {
  font-family: "Raleway";
  z-index: 2;
  padding-bottom: 2rem;
}

.icon {
  z-index: 2;
  padding-top: 1rem;
  width: 5rem;
  height: 5rem;
  margin-bottom: 2rem;
}

.button {
  user-select: none;
  cursor: pointer;
  font-family: "Raleway";
  font-weight: bold;
  border: 1px white solid;
  z-index: 2;
  padding: 0.75rem 2rem;
  transition: .1s ease-in-out all;
  &:hover {
    color: black;
    background-color: white;
  }
}