.blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

.subtitle {
  width: 60%;
  align-self: center;
}

.section {
  width: 60%;
  display: flex;
  margin: 0 auto;
}

.section_title {
  margin-top: 4rem;
  flex-direction: column;
  text-align: center;
  color: #2D2D37;
  padding-bottom: 1.25rem;
}

.title {
  padding-bottom: 2rem;
}

.section_posts {
  margin-bottom: 4rem;
  justify-content: space-between;
}

.post {
  position: relative;
  width: 33.3%;
  padding: 0.75rem;
}

.post_title {
  width: 80%;
  padding-top: 1.25rem;
  padding-bottom: 0.5rem;
  font-family: "Libre Baskerville";
  font-weight: 700;
  line-height: 1.5rem;
  font-size: 1.1rem;
  transition: .3s ease-in-out all;
  &:hover {
    color: rgb(9, 176, 176);
  }
}

.section_text {
  display: flex;
  flex-direction: column;
}

.post_content {
  font-family: "Raleway";
  font-weight: 400;
  font-size: .85rem;
  line-height: 1.45rem;
  padding-bottom: 0.5rem;

}

.image {
  height: fit-content;
  max-width: 100%;
  object-fit: contain;
}

.section_text {
  position: relative;
}

.button_read {
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: .05rem;
  font-weight: 600;
  color: rgb(45, 45, 55);
  font-family: "Source Sans 3";
  margin-top: 0.5rem;
  transition: .3s all ease-in-out;
  &:hover {
    color: rgb(9, 176, 176);
  }
}

.about_wrapper {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.name {
  font-family: "Raleway";
  font-size: .7rem;
  font-weight: 300;
}

.topic {
  right: 1rem;
  font-family: "Raleway";
  background-color: rgb(9, 176, 176);
  padding: 0.675rem 1rem;
  font-size: .65rem;
  font-weight: 600;
  color: white;
  z-index: 999;
  width: fit-content;
  margin-left: auto;
  position: absolute;
  bottom: calc(100% - 1rem)!important;
}

.social_wrapper {
  display: flex;
  margin-top: 0.5rem;
}

.icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
}
